# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/

# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Local configuration
local.properties
.DS_Store

# Builds and native code
/build
/captures
.externalNativeBuild
.cxx